<div class="clearfix"></div>
{% for(var i=0, l=ncs_contact_list.length; i<l; i++) { %}
<div class="address-box">
	<p class="h6">
		{%= i+1 %}. {%= ncs_contact_list[i].contact_name %}{% if(ncs_contact_list[i].contact_type) { %}
		<span class="text-muted">({%= __(ncs_contact_list[i].contact_type) %})</span>{% } %}
		{% if(ncs_contact_list[i].disabled) { %}
		<span class="text-muted">({%= __("Disabled") %})</span>{% } %}

		<a href="/app/Form/NCS Customer Contact/{%= encodeURIComponent(ncs_contact_list[i].name) %}" class="btn btn-default btn-xs pull-right"
			style="margin-top:-3px; margin-right: -5px;">
			{%= __("Edit") %}</a>
	</p>
	<p>{%= ncs_contact_list[i].display %}</p>
</div>
{% } %}
{% if(!ncs_contact_list.length) { %}
<p class="text-muted small">{%= __("No contact added yet.") %}</p>
{% } %}
<p><button class="btn btn-xs btn-default btn-address">{{ __("New Contact") }}</button></p>